:root{
    --col-red:#FE4C61;
    --col-orange:#F39C11;
    --col-yellow:#ffc116;
    --col-green:#52C41A;
    --col-blue:#3498DB;
    --col-purple:#9D3DCF;
    --col-black:#0E1D69;
    --col-grey:#bfbfbf;
    --col-main-site : #16a085;
    --col-assert-site : #1abc9c;
    --col-assert-link : #1d9f85;
    --col-white:#fff;
    --col-greylink:#ddd;
    --col-greylink-active:#d1d0d0;
    --col-background : #efefef;
}

.color-assert {background-color: var(--col-main-site)!important;}
.color-main {background-color: var(--col-assert-site)!important;}
.color-white {color: var(--col-white)!important;}
.link-grey {color: var(--col-greylink)!important;}
.link-grey:hover,.link-grey:focus {color: var(--col-greylink-active)!important;}
.colorbg {background: var(--col-background)!important;}

.r {color: var(--col-red)!important;}
.o {color: var(--col-orange)!important;}
.y {color: var(--col-yellow)!important;}
.g {color: var(--col-green)!important;}
.bu {color: var(--col-blue)!important;}
.p {color: var(--col-purple)!important;}
.bc {color: var(--col-black)!important;}
.gr{color:var(--col-grey)!important;}

.b-r {background-color: var(--col-red)!important;}
.b-o {background-color: var(--col-orange)!important;}
.b-y {background-color: var(--col-yellow)!important;}
.b-g {background-color: var(--col-green)!important;}
.b-bu {background-color: var(--col-blue)!important;}
.b-p {background-color: var(--col-purple)!important;}
.b-bc {background-color: var(--col-black)!important;}
.b-gr{background-color:var(--col-grey)!important;}

.bd-r {border-color: var(--col-red)!important;}
.bd-o {border-color: var(--col-orange)!important;}
.bd-y {border-color: var(--col-yellow)!important;}
.bd-g {border-color: var(--col-green)!important;}
.bd-bu {border-color: var(--col-blue)!important;}
.bd-p {border-color: var(--col-purple)!important;}
.bd-bc {border-color: var(--col-black)!important;}
.bd-gr{border-color:var(--col-grey)!important;}

a {text-decoration: none;}
.ftb {font-weight: bold;}